@model UI_Tour.Models.Tour
@{
        ViewBag.Title = Model.Name;
    }
@{ string type = ViewBag.Type;
    string info = ViewBag.Info;
}
@*@foreach (var item in Model.Tours)
{
    foreach (var val in Model.Types.Where(p => p.Id == item.TourTypeId))
    {
        type += val.Type;
    }
     foreach (var val in Model.Infos.Where(p => p.Id == item.InfoId))
    {
        info += val.Info;
    }
}*@

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>TourAndDetails</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @*@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.DropDownList("Type", ViewBag.Types as SelectList, type, new { @class = "form-control" }) @*model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })*@
            @*<div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Types.GetEnumerator().Current, "", new { @class = "text-danger" })
            </div>*@
        </div>

        <div class="form-group">
            @Html.DropDownList("Info", ViewBag.Infoes as SelectList, ViewBag.Info as string, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.DropDownList("Country", ViewBag.Countries as SelectList, ViewBag.Country as string, new { @class = "form-control" })
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
        }

        <div>
            @Html.ActionLink("Back to Tours", "Index", "Home")
        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
